<div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animated fadeInLeft" >Categories</span></h2>
    <div class="row animated fadeInLeft">
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/meat.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Illustration, Branding</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/pasta.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Web, Packaging</p>
            </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/dessert.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Branding, Web</p>
            </a>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/chicken.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Logo, Branding, Web</p>
            </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/soup.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Web, Packaging, Branding</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/vegeterian.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Branding</p>
            </a>
        </div>
        <div class="clearfix visible-md-block visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/fish.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Web, Illustration</p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/gluten free.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Branding, Web</p>
            </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="../images/categories/slow cooker.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">Work Title Here</h3>
                <p>Illustration, Branding</p>
            </a>
        </div>
        <div class="clearfix visible-md-block"></div>

    </div>
</div>
