<!--"usersManagerGridCtrl"-->
<div class="fh5co-narrow-content" ng-controller="categoriesCtrl">

    <h2 class="fh5co-heading animated fadeInLeft" >Categories</span></h2>
    <div class="row animated fadeInLeft">

        <div ng-repeat="x in categories" class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a href="work.html">
                <img src="{{x.image}}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">{{x.name}}</h3>
                <p>Illustration, Branding</p>
            </a>
        </div>
        <!--<div class="clearfix visible-md-block"></div>-->
    </div>
</div>
