<div class="fh5co-narrow-content">

    <div class="row">
        <button type="button" class="btn btn-success" ng-click="save()">create</button>
        <div class="col-md-8 col-md-offset-2 animated fadeInLeft">
            <div class="col-md-9 col-md-push-3">
                <div class="form-group col-md-12">
                    <label ng-repeat="c in categories" style="padding: 5px;"><input type="checkbox" name="categories[]" value="{{ c.id }}" ng-model="c.selected" />{{ c.name }}</label>
                </div>
                <div class="form-group col-md-12"><input placeholder="Title" class="form-control" type="text" ng-model="title" /></div>
                <div class="form-group col-md-12"><textarea class="form-control" cols="30" rows="7" placeholder="Content" ng-model="content"></textarea></div>
                <div class="form-group col-md-12">Image: <input type="file" accept="image/*" fileread="image" filetype="imageType" /></div>
            </div>

        </div>

    </div>

</div>

