<div style="margin: 30px">
<section style="margin-right: 30px" class="animated fadeInLeft" id="canvasDiv" ng-controller="canvasCtrl" >

    <div>
        <h2 class="textShadow">What's new?</h2>
    </div>
    <!--canva-->
    <canvas id="MyCanvas1" >
        This browser or document mode doesn't support canvas object
    </canvas>

</section>

<h1 class="textShadow animated fadeInLeft">Welcome to Recipe Site !</h1>

<video class="animated fadeInLeft" width="500" height="500" style="margin-top:50px;height:50%;width:50%" controls>
    <source src="../videos/karinGoren.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

</div>