<img src="../images/hero.jpg" onload="init();">
<section id="canvasSection" >

    <div>
        <label>What's new?</label>
    </div>

    <!--canva-->
    <canvas id="MyCanvas1" >
        This browser or document mode doesn't support canvas object
    </canvas>

</section>



<video width="500" height="500" style="height:50%;width:50%" controls>
    <source src="../videos/karinGoren.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<section class="popularUsers">
    <h1>Popular Users:</h1>
    <ul>
        <li ng-repeat="x in popularUsers"> {{x.userName}} </li>
    </ul>

</section>
<div ng-repeat="x in popuarUsers"></div>

<!--&lt;!&ndash;canvas script&ndash;&gt;-->
<script type="text/javascript">

    console.log("sss");
    var can, ctx, step, steps = 0,
            delay = 50;

    function init() {
        console.log("in inut");
        can = document.getElementById("MyCanvas1");
        ctx = can.getContext("2d")  ;
        ctx.fillStyle = "black";
        ctx.font = "10pt Verdana";

        ctx.textBaseline = "middle";

        step = 0;
        steps = can.height + 10;
        RunTextUpToDown();
    }

    function RunTextUpToDown() {
        step++;
        ctx.clearRect(0, 0, can.width, can.height);
        ctx.save();
        ctx.translate(can.width, step);
        ctx.textAlign = "left";
        ctx.fillText("NEW!!!",-can.width, 0);
//
//            users.foreach(function(entry){
//                ctx.fillText(entry.userName, -can.width, 15);
//            });

        ctx.fillText("Hot Chocolate Cake Recipe", -can.width, 15);
        ctx.fillText("The Best in Town !!!", -can.width, 30);

        ctx.restore();
        if (step == steps)
            step = 0;
        if (step < steps)
            var t = setTimeout('RunTextUpToDown()', delay); //delay = 50
    }
</script>