<div class="fh5co-narrow-content animated fadeInLeft" >

    <div class="row">
        <div class="col-md-4">
            <h1>Create category</h1>
        </div>
    </div>
    <form ng-submit="submit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" ng-model="formData.name">
                </div>
                <div class="form-group">
                    <!--<input type="file" id="Photo" name="upload" ng-file-select="onUploadSelect($files)" ng-model="newResource.newUpload"/>-->
                    <input type="file" ng-file-select="fileSelected($files)" onchange="angular.element(this).scope().setFile(this);"  accept="image/png, image/jpeg">
                    <img class="img-responsive" ng-src="{{image_source}}">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary-custom btn-md" value="submit">
                </div>
            </div>

        </div>
    </form>
</div>


<!--<div class="row">-->
<!--<div class="col-md-8">-->

<!--<h4>Category</h4>-->
<!--<hr />-->
<!--<div class="form-group">-->
<!--<div class="col-md-10">-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<div class="col-md-10">-->
<!--<input type="file" id="Photo" name="upload" />-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<div class="col-md-offset-2 col-md-10">-->
<!--<input type="submit" value="Create" class="btn btn-default" />-->
<!--</div>-->
<!--</div>-->

<!--<div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
